/* Estilos para el menú desplegable */
nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 200px;
	height: 100%;
	background-color: #f5f5f5;
	transition: transform 0.3s ease-in-out;
	transform: translateX(-200px);
	z-index: 1;
  }
  
   nav.abierto {
	transform: translateX(0);
  }
  
  .menu {
	list-style: none;
	padding: 0;
	margin: 50px 0 0 0;
  }
  
  .menu li {
	padding: 10px;
  }
  
  .menu li:hover {
	background-color: #e0e0e0;
  }
  
  .menu a {
	display: block;
	text-decoration: none;
	color: #333;
	font-size: 1.2em;
	padding: 10px;
	transition: background-color 0.3s ease-in-out;
  }
  
  .menu a:hover {
	background-color: #ddd;
  }
  
  /* Estilos para el botón del menú */
  #boton-menu {
	position: fixed;
	top: 20px;
	left: 20px;
	background-color: transparent;
	color: #333;
	border: none;
	font-size: 2em;
	cursor: pointer;
	z-index: 2;
  }
  
  #boton-menu:hover {
	color: #666;
  }
  

/* Estils del titol animat*/
.titulo {
	margin: -20px 0;
	text-align: center;
}

.titulo h1 {
	font-size: 5em;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	animation: titulo 1s ease-in-out infinite alternate;
}

@keyframes titulo {
	0% {
		transform: translateZ(-50px);
	}

	100% {
		transform: translateZ(50px);
	}
}

/* Estilos para el espacio del blog */
.blog {
	max-width: 800px;
	margin: 0 auto;
	padding: 50px 0;
}

.blog h2 {
	font-size: 2em;
	margin-bottom: 20px;
}

.liniaTitol {
	margin-top: 85px;
	align-items:center ;
	margin-left: 25.5%;
	position: absolute;
	width: 900px;
	height: 6px;
	border-radius: 30px;
	background-color:black ;
	z-index: 9999;
}

.liniaTitol2 {
	align-items: center;
	margin-top: 95px;
	margin-left: 28%;
	position: absolute;
	width: 810px;
	height: 6px;
	border-radius: 30px;
	background-color:black ;
	z-index: 9999;
}

.liniaTitol3 {
	align-items: center;
	margin-top: 105px;
	margin-left: 31%;
	position: absolute;
	width: 700px;
	height: 6px;
	border-radius: 30px;
	background-color:black ;
	z-index: 9999;
}

/* Botó Kickstarter */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* button div */
#buttons {
  padding-top: 50px;
  text-align: center;
}


.btn {
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.green {
  background-color: #2ecc71;
  box-shadow: 0px 5px 0px 0px #15B358;
}

.green:hover {
  background-color: #48E68B;
}